@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Maven+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
}
nav{
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo img{
    padding: 15px 30px;
    height: 75px;
    width: 75px;
}
.text h1{
    font-family: 'Comfortaa', cursive;
    padding: 25px 30px;
    font-size: 35px;
}
body{
    background: #D9AFED;
    background: -webkit-linear-gradient(top left, #D9AFED, #7237D6);
    background: -moz-linear-gradient(top left, #D9AFED, #7237D6);
    background: linear-gradient(to bottom right, #D9AFED, #7237D6);
    height: 100vh;
}
.container{
    max-width: 535px;
    margin: auto;
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.message{
    background-color: #7237D6;
    width: 40%;
    margin: 15px 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(20,20,20,0.4);
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    color: white
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
.send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.send input{
    width: 380px;
    height: 10px;
    padding: 20px 20px;
    border-radius: 15px;
    border: 0px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
}
.btn{
    padding: 19px 25px;
    border-radius: 15px;
    border: 0px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    font-size: 18px;
    background-color: #7237D6;
    box-shadow: 2px 2px 5px rgba(20,20,20,0.4);
    cursor: pointer;
}